#banner
    .banner_content
        %h1 OverCard
        %p Your overtime personal storage!
        %button= link_to "Enter", new_user_registration_path

#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organize Your Life!
                %p Your own personal storage where you can create, edit, and/or delete digital index cards.  The amount of digital index cards you create is limitless and completely secure.  Sign up for free!

#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "Join Now", new_user_registration_path
